// Fonts
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, monospace;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

// Colors
$bg-color: #FFFFF3 !default;
$fg-color: #212121 !default;
$alt-bg-color: #FFFFF3 !default;
$alt-fg-color: #000000 !default;
$link-color: #1565C0 !default;

// Colors dark
$bg-color-dark: #212121 !default;
$fg-color-dark: #DADADA !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #DADADA !default;
$link-color-dark: #42A5F5 !default;
